
header {
    height: 80px;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    border-bottom: var(--border);
}

.header .logo img {
    height: 80px;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 20px;
    color: #fff;
}

.header .navbar a:hover {
    padding: 10px;
    background: var(--main-color);
    border-radius: 8px;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

/*Seção Home*/

.home {
    height: 100vh;
    margin-top: 80px;
    background: #eee;
}

.home .titulo h1 {
    color: var(--main-color);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.home .pagina-inicial {
    display: flex;
    justify-content: space-between;
}

.home .pagina-inicial p {
    color: var(--bg);
    margin: 0 20px;
}

.home .pagina-inicial img {
    height: 60vh;
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
}

.home .pagina-inicial .incial {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .pagina-inicial .tipo-curso {
    background: #fff;
    width: 35%;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.home .pagina-inicial .tipo-curso h2 {
    font-size: 28px;
    color: var(--main-color);
}

.home .pagina-inicial .tipo-curso a {
    color: #000;
    font-size: 24px;
    margin-top: 10px;
}

.home .pagina-inicial .tipo-curso a i {
    color: var(--main-color);
}

.home .pagina-inicial .tipo-curso h3 {
    color: var(--bg);
    font-size: 24px;
    margin-top: 20px;
}

.home .pagina-inicial .tipo-curso p {
    font-size: 40px;
    margin-top: 20px;
    color: #12A661;
    font-weight: bolder;
}

.home .pagina-inicial .tipo-curso button {
    height: 60px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bolder;
    background: #12A661;
    color: #fff;
}

.home .pagina-inicial .tipo-curso button:hover {
    background: #eee;
    color: #12A661;
}

/*Seção legislação*/


.legislacao {
    background-image: url(../images/sutura-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

.legislacao .legis {
    background: #000000a4;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.legislacao .legis h2 {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;

}

.legislacao .legis p {
    color: var(--main-color);
    font-size: 22px;
}

.legislacao .publico {
    margin-top: 40px;
    background: #003738b2;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.legislacao .publico h2 {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.legislacao .publico h3 {
    color: var(--main-color);
    margin-top: 10px;
}

.legislacao .publico p {
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
}

.legislacao .matricule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.legislacao .matricule a button{
    width: 90vw;
    height: 60px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bolder;
    background: #12A661;
    color: #fff;
}


.legislacao .matricule a button:hover {
    background: #eee;
    color: #12A661;
}

/*Seção Conteúdo*/


.conteudo {
    background: var(--bg);
    height: 100%;
    display: flex;
    gap: 20px;
}

.conteudo .conteudo-curso h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}

.conteudo .dropbox {
    max-width: 600px;
}

.conteudo .dropbox .contentBx {
    position: relative;
    margin: 10px 20px;
}

.conteudo .dropbox .contentBx .label {
    position: relative;
    padding: 10px;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 10px;

}

.conteudo .dropbox .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
}

.conteudo .dropbox .contentBx.active .label::before {
    content: '-';
}

.conteudo .dropbox .contentBx .content {
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    border-radius: 10px;

}

.conteudo .dropbox .contentBx.active .content {
    height: 100px;
    padding: 10px;
}
.conteudo .more-info {
    width: 50%;
}

.conteudo .more-info .img img {
    margin: 10px;
    height: 60%;
    width: 60%;
    border-radius: 10px;
}

.conteudo .more-info button {
    height: 60px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bolder;
    background: #12A661;
    color: #fff;
}

.conteudo .more-info button:hover {
    background: #eee;
    color: #12A661;
}

/*Seção instrutor*/

.instrutor {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/sutura-7.JPG);
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

.instrutor .image-intructor {
    width: 30%;
    padding: 10px;
}

.instrutor .image-intructor img {
    border-radius: 5px;
}

.instrutor .more-info-instructor {
    width: 70%;
    padding: 10px;
    
}

.instrutor .more-info-instructor .education {
    background-color: #eee;
    border-radius: 5px;
}

.instrutor .more-info-instructor h1 {
    font-size: 34px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 20px;
}

.instrutor .more-info-instructor h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.instrutor .more-info-instructor ul li {
    list-style: none;
    margin: 5px;
}

.instrutor .more-info-instructor .teacher {
    background: #fff;
    border-radius: 5px;
    padding: 6px;
}

.instrutor .more-info-instructor h3 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.instrutor .more-info-instructor p {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

/*Seção contato*/

.contato {
    height: 100%;
    background: #eee;
    display: flex;
}

.contato .mail {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.contato .mail h1 {
    font-size: 34px;
    color: #12A661;
    font-weight: 700;
    margin-bottom: 10px;
}

.contato .mail form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.contato .mail form label {
    font-size: 16px;

}

.contato .mail form input {
    padding: 10px;
    border-radius: 10px;
}

.contato .mail form textarea {
    padding: 10px;
    height: 100px;
    border-radius: 10px;
}

.contato .mail form button {
    font-size: 20px;
    background: #12A661;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.contato .mail form button:hover {
    background: #fff;
    color: #12A661;
}

.contato .pay {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato .social-media h2{
    font-size: 34px;
    color: #12A661;
    font-weight: 700;
    margin-bottom: 10px;
}

.contato .social-media i {
    font-size: 28px;
    margin-left: 10px;
   padding: 10px;
   border-radius: 50px;
}

.contato .payment h2{
    color: #12A661;
    margin-bottom: 20px;
}

.contato .payment p i,
.contato .payment p {
    font-size: 20px;
}

.contato .payment p i {
    margin-bottom: 10px;
}

