.conteudo {
    background: var(--bg);
    height: 100vh;
    display: flex;
    gap: 20px;
}

.conteudo .conteudo-curso h2 {
    font-size: 28px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
}

.conteudo .dropbox {
    max-width: 600px;
}

.conteudo .dropbox .contentBx {
    position: relative;
    margin: 10px 20px;
}

.conteudo .dropbox .contentBx .label {
    position: relative;
    padding: 10px;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 10px;

}

.conteudo .dropbox .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
}

.conteudo .dropbox .contentBx.active .label::before {
    content: '-';
}

.conteudo .dropbox .contentBx .content {
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    border-radius: 10px;

}

.conteudo .dropbox .contentBx.active .content {
    height: 100px;
    padding: 10px;
}

.conteudo .more-info {
    width: 50%;
}

.conteudo .more-info .img img {
    margin: 10px;
    height: 60%;
    width: 60%;
    border-radius: 10px;
}

.conteudo .more-info button {
    height: 60px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bolder;
    background: #12A661;
    color: #fff;
}

.conteudo .more-info button:hover {
    background: #eee;
    color: #12A661;
}

@media (max-width: 900px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo .more-info {
        display: flex;
        align-items: center;
    }

    .conteudo .more-info .img img {
        height: 40vh;
        width: 40vh;
    }

    .conteudo .more-info button {
        height: 80px;
        width: 120px;
        font-size: 20px;
    }


}

@media (max-width: 600px) {
    .conteudo .more-info {
        display: flex;
    }

    .conteudo .more-info .img img {
        height: 25vh;
        width: 25vh;
    }

}