body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: #efefef;
}

h1 {
  color: #333;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  background-color: #999;
  padding: 10px;
}